html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: row wrap;
}

.cardWrapper {
  width: calc(100vw / 9);
}

.cardWrapper img {
  max-width: 100%;
  height: auto;
}

.searchContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 12px 0;
}

.searchContainer > input {
  padding: 7px 5px;
  width: 15%;
}
